html, body, header, h1, figure, figcaption, div, img, ul, li, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    font-family: 'IBM Plex Sans', sans-serif;
}

.cabecalho {
    display: flex;
    position: relative;
    width: 100%;
    height: 11vh;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 3%;
}

.logo img{
    width: 11vw;
    min-width: 70px;
}

.geral{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    min-width: 320px;
    min-height: 467px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


.pug {
    color: #ffffff;
    font-weight: 500;
    font-size: 3.0vw;
    text-align: center;
    width: 70vw;
    margin: 0.67em;
    background: transparent;
}

.usuario {
    display: flex;
    justify-content: center;
    list-style: none;
    max-width: 80%;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    min-width: 84px;
    padding: 0px 13px;
    margin: 0px 0.5vw;
    cursor: pointer;
}

.img-container{
    width: 12vw;
    max-width: 125px;
    max-height: 125px;
    min-width: 84px;
    min-height: 84px;
    overflow: hidden;
    border-radius: 8px;
}

.img-container img{
    width: 12vw;
    max-width: 125px;
    max-height: 125px;
    min-width: 84px;
    min-height: 84px;
    border-radius: 8px;
    border: 2px transparent black;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.container p {
    color: grey;
    margin: 0.6em 0;
    font-weight: 600;
    line-height: 18px;
}


/* CARD DE ADD NOVO PERFIL */
.container-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17%;
    min-width: 84px;
    padding: 0px 13px;
    margin: 0px 0.5vw;
    cursor: pointer;
}

.container-add p {
    color: grey;
    text-align: center;
    margin: 0.2em 0;
}

.vectores-container {
    width: 13vw;
    max-width: 130px;
    max-height: 132px;
    min-width: 84px;
    min-height: 84px;
    overflow: hidden;
    border-radius: 8px;
}

.vectores-container img{
    width: 13vw;
    max-width: 130px;
    max-height: 132px;
    min-width: 84px;
    min-height: 84px;
    border-radius: 8px;
    opacity: 0.5;
}

/* Botão */
.box {
    display: flex;
    position: relative;
    justify-content: center;
    top: 7vh;
    box-sizing: border-box;
}
.botao {
    color: grey;
    border: 1.5px solid grey;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    padding: 0.5em 1.5em;
    transition: .3s;
    cursor: pointer;
}

/* HOVERS */
.container:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.2);
}

.container:hover > .img-container {
    border: 1.5px solid #FFFFFF;
    
}

.container:hover > p {
    color: #FFFFFF;
}

/* ADD PERFIL */
.container-add:hover > .vectores-container img {
    opacity: 1;
    border: 1.5px solid #FFFFFF;
}

.container-add:hover > p {
    color: #FFFFFF;
}

/* BOTAO */
.botao:hover {
    background-color: #FFFFFF;
    color: black;
}

/* MOBILE */ 

@media only screen and (max-width: 900px) {
    .geral {}
    .pug {
        font-size: 30px;    
    }
@media only screen and (max-width: 800px) {
    .container p, .container-add p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 565px) {
    .cabecalho {
        max-height: 55px;
    }
}

@media only screen and (max-width: 450px) {
    .container, .container-add {
    margin: 1.9vw;
    }
}


@media only screen and (max-width: 326px) {
    .container, .container-add {
        padding: 5px 13px;
    }
    .box {
        top: 25px;
    }
}